.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.section__container{
    display: flex;
    flex-direction:row;
    width: 60%;
}
h1{
    font-size: 2.5rem;
}
.texto1{
    font-size: 1.8rem;
    line-height: 1.5;
    width: 60%;
}
.texto{
    font-size: 1.8rem;
    line-height: 1.5;
}
    


.section2__img img{
    width: 50rem;
}